* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  top: 0;
  position: fixed;
  z-index: 9999;
}

/* nav */
.nav-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-container a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1rem;
}

.nav-container a:hover {
  color: #e49b0f;
  transition: 0.3s;
  font-weight: 600;
}

/* main */
.main-tittle {
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 15rem;
  font-size: 3rem;
}

.main-tittle p {
  font-size: 1.5rem;
}

.main-tittle-btn {
  padding: 10px 20px;
  background-color: #e49b0f;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  cursor: pointer;
}

.main-tittle-btn:hover {
  opacity: 0.8;
  color: #fff;
  transition: 0.3s;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  width: 90%;
  gap: 50px;
}

.main-content article {
  width: 700px;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 700px;
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.main-content-banner {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content-banner h1 {
  font-size: 2rem;
  margin-bottom: 0rem;
}

.main-content-banner p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.main-content-review {
  margin-top: 30px;
}

/* review */
.review-container {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
}

.review-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.review-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-text h2 {
  font-size: 1rem;
}

.review-text p {
  font-size: 0.8rem;
}

/* form */
.main-form {
  background-color: #f5f5f5;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 20px;
  justify-content: center;
  height: 550px;
}

.main-form-header {
  text-align: center;
  margin-bottom: 2rem;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form-input input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0 10px;
  border-radius: 10px;
}

.select-box {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.select-box select {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0 10px;
  color: #757575;
  border-radius: 10px;
  cursor: pointer;
}

.main-form-btn {
  width: 100%;
  padding: 10px 20px;
  background-color: #e49b0f;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
  cursor: pointer;
}

.main-form-btn:hover {
  opacity: 0.8;
  color: #fff;
  transition: 0.3s;
}

/* benefits */
.main-benefits {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 0 auto;
  width: 90%;
  gap: 50px;
  margin-top: 5rem;
}

.main-benefits-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-benefits-text h1 {
  font-size: 2rem;
  margin-bottom: 0rem;
}

.list-benefits {
  margin-top: 60px;
}

.list-benefits-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 20px;
}

.list-benefits-item p {
  margin-left: 10px;
  font-size: 1rem;
}

.benefits-btn {
  margin-left: 20px;
}

.benefits-btn-text {
  padding: 10px 20px;
  background-color: #e49b0f;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 60px;
  cursor: pointer;
}

.benefits-btn-text:hover {
  opacity: 0.8;
  color: #fff;
  transition: 0.3s;
}

.benefits-img {
  display: flex;
  width: 500px;
  border-radius: 20px;
  
}

/* package */
.main-package {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  width: 100%;
  gap: 50px;
  margin-top: 5rem;
}

.main-package-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 2rem;
}

.main-package-text h1 {
  font-size: 2rem;
  margin-bottom: 0rem;
}

.main-package-text p {
  font-size: 1rem;
}

.packages-list {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.packages-item {
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.packages-item h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.packages-item p {
  font-size: 1rem;
  margin-top: 0.5remrem;
  margin-bottom: 0rem;
  text-align: center;
}

.packages-item .price {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-weight: 600;
}

.packages-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 10px;
}

.packages-btn .buy {
  padding: 10px 20px;
  background-color: #e49b0f;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.packages-btn .details {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #e49b0f;
  border-radius: 10px;
  color: #e49b0f;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.packages-btn .buy:hover {
  opacity: 0.8;
  color: #fff;
  transition: 0.3s;
}

.packages-btn .details:hover {
  background-color: #e49b0f;
  color: #fff;
  transition: 0.8s;
}

/* contact us */
.contact-us {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  width: 100%;
  gap: 50px;
  margin-top: 10rem;
}

.contact-us h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0rem;
}

.contact-us p {
  text-align: center;
  font-size: 1rem;
}

.contact-us .contact-us-layout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact-us .contact-us-btn {
  padding: 10px 20px;
  background-color: #e49b0f;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.contact-us .contact-us-btn:hover {
  opacity: 0.8;
  color: #fff;
  transition: 0.3s;
}

/* footer */
footer {
  margin-top: 10rem;
  background-color: #e49b0f;
  color: #283841;
  padding: 10px;
  text-align: center;
}

footer p {
  font-size: 1rem;
}

footer .footer-link {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer a {
  color: #283841;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 1rem;
}

/* responsive */
@media screen and (max-width: 1024px) {
  .packages-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .packages-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .packages-list {
    grid-template-columns: repeat(1, 1fr);
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .main-tittle h1 {
    font-size: 2rem;
  }

  .main-tittle p {
    font-size: 1rem;
  }

  .main-tittle .main-tittle-btn {
    padding: 10px 20px;
    font-size: 1rem;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    width: 100%;
    gap: 50px;
    margin-top: 10rem;
  }
  .main-content article {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    width: 90%;
  }

  .slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
    height: auto;
  }

  .mySlides {
    display: none;
  }

  .mySlides img {
    width: 100%;
    height: auto;
  }

  .main-form {
    width: 90%;
    margin: 0 auto;
  }

  .main-benefits {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 10rem;
    width: 90%;
  }

  .main-benefits-img {
    height: auto;
    margin: 0 auto;
  }

  .benefits-img {
    width: 320px;
  }

  footer .footer-link {
    font-size: 0.8rem;
    flex: grid
    grid-template-columns: repeat(1, 1fr);
  }

  .copyright {
    font-size: 0.8rem;
  }

}
